<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="one">hii hello students</h1>
    <h1>Are you learn python</h1>
    <h1>Are you learn SQL</h1>
    <h1>Are you learn html</h1>
    <h1>Are you learn css</h1>
    <h1>Are you learn django</h1>
</body>
</html>
<style>
    *
    {
     margin: 0%;   
    }
    #one
    {
        color: blue;
        background-color: rgba(11, 255, 198, 0.582);
    }
    h1
    {
        color: aliceblue;
        background: black;
        text-align:center;
        margin:0 px;
        padding: 24px;
        font-size: 40px;
        width:100%;
        margin-top: 27px;

    }
</style>